---
layout: wrapper
---

<style>
	.blockquote {
		color: white;
		text-align: justify;
	}
	
	.blockquote-footer {
		color: lightgrey;
	}
	
	.category-thumb {
		max-height: 200px;
		overflow: hidden;
	}
	
	.category-title {
		position: absolute;
		background-color: #00000044;
		bottom: 0;
		left: 0;
		margin: 0;
		padding: 0 10px;
		color: white;
		letter-spacing: 0.3em;
		text-align: left;
		text-transform: uppercase;
	}
	
	.category-title h4 {
		font-weight: 200;
	}
	
	.about-text {
		max-width: 60%;
		padding-top: 3em;
		padding-bottom: 3em;
		text-align: justify;
	}
	</style>
	
	<div class='banner banner-main'>
		<div class='banner-overlay'></div>
		<div class='center'>
			<blockquote class='blockquote'>
				<p class='mb-0'>{{ site.quote }}</p>
				<footer class='blockquote-footer'>{{ site.quote_author }}</footer>
			</blockquote>
		</div>
	</div>
	
	{% include navbar.html %}
	
	<div class='container about-text'>
		<div class='row'>
			<div class='col'>
				Hello there!  I'm Brandon, and welcome to my little corner of the internet.  I live by a philosophy of 'Never stop learning, and have fun doing it'.  I love trying new things and intend to keep trying new things until I am physically unable to do so.
			</div>
		</div>
		<br/>
		<div class='row'>
			<div class='col'>
					Below, you can find some of the things I've created.  So far, those things are pretty limited to games, but I'm currently learning the crafts of jewelry metalsmithing and home repair, so come back often to keep an eye on my progress.
			</div>
		</div>
		<br/>
		<!--<div class='row'>
			<div class='col'>
				Head on over to my Youtube channel to check out what I've done already, or hit me up on Twitter if you have an idea on what I should try next.
			</div>
		</div>-->
	</div>
	
	{% assign banner_title = 'updates' %}
	{% include banner_widget.html %}
	
	<div class='container'>
		<div class='row'>
				{% for post in site.posts limit:3 %}
					{% assign date_format = site.minima.date_format | default: '%b %-d, %Y' %}
					<div class='col-lg container thumbnail'>
						<div class='row'>
							<span class='col post-meta'>{{ post.date | date: date_format }}</span>
							<a class='col content-justify-right' 
								href='/{{post.categories | join: "/"}}'>
								/{{ post.categories | join: '/' }}</a>
						</div>
						<div class='row'>
							<h3 class='col'>
								<a class='post-link'
									href='{{post.url | relative_url}}'>
									{{ post.title | escape }}
								</a>
							</h3>
						</div>
						<div class='row'>
							<div class='col text-justify'>
								<p>{{ post.excerpt }}</p>
							</div>
						</div>
					</div>
				{% endfor %}
		</div>
	</div>
	
	{% assign banner_title = 'projects' %}
	{% include banner_widget.html %}
	
	<div class='container'>
		<div class='row'>
			{% for collection in site.collections %}
				{% if collection.label != 'posts' %}
					<a class='col-lg container thumbnail category-thumb'
						href='/projects/{{ collection.label }}'>
						<div class='row banner banner-{{collection.label | downcase}}'></div>
						<div class='category-title'>{{ collection.label | upcase }}</div>
					</a>
				{% endif %}
			{% endfor %}
		</div>
	</div>