---
layout:	wrapper
title: Gallery
---
{% include navbar.html %}
<link rel='stylesheet' href='/css/project_thumbnail.css' />

{% assign banner_title = page.title %}
{% include banner_widget.html %}

<div class='container'>
	<div class='row'>
		{% for post in site.posts %}
			{% assign category = page.title | downcase %}
			{% if post.categories contains category %}
				{% assign project = post %}
				{% assign project_type = page.title %}
				{% include project_thumbnail_widget.html %}
			{% endif %}
		{% endfor %}
	</div>
</div>